{{#if isAuthenticated}}
  <strong>Hello {{user.name}}</strong> ({{user.id}})<strong>!</strong> - <a href="/logout">not you?</a>
{{/if}}

<div>
  <a href="/">home</a> &raquo; <a href="/discovery">discovery</a> &raquo; {{title}}
</div>

<h2>Office 365 Discovery Service - {{title}}</h2>

<div>
  <h3>Capabilities</h3>

  <table border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr>
      <th>Capability</th>
      <th>Service</th>
      <th>Endpoint</th>
      <th>Resource ID</th>
    </tr>
    </thead>
    {{#each capabilities}}
      <tbody>
      <tr>
        <td>{{capability}}</td>
        <td>{{name}}</td>
        <td>{{endpoint}}</td>
        <td>{{resourceId}}</td>
      </tr>
      </tbody>
    {{/each}}
  </table>
</div>